/*--- Import font url ----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*--- General styles ----------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $font-main;
    font-weight: $font-normal;
    font-size: 1rem;
}
.attribution {
    font-size: 11px; 
    text-align: center;
    a {
        color:$attribution-color;
    }
}
