//  interface.scss

.card-box{
    width: 350px;
    background-color: $color-white;
    border-radius: 15px;
    background-image: url(../images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-position: top center;
    box-shadow: 0px 45px 70px hsl(229, 23%, 23%, 0.3);
    
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 374px;
        
    }
}
.card-body {
    .profile-image {
        margin-bottom: 25px;
        height: 106px;
        width: 106px;

        img {
            border: 5px solid $color-white;
            border-radius: 50%;
        }
     }
     .name {
        font-size: 18px;
        padding-bottom: 14px;
        
        h4 {
            display: inline-block;
         }
         
        .age {
            font-weight: $font-light;
            color: $color-text-gray2;
            margin-left: 8px;
        }
     }
     
     .location {
        padding-bottom: 25px;
        color: $color-text-gray2;
     }
    
    .card-stats {
        border-top: 1px solid $divider-color;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 22px;
        align-self: stretch;
     }
}
.card-stats {
    .stats-content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        .stats {
            font-size: 18px;
            padding-bottom:8px;
            font-weight: $font-bold;
        }
        .stats-caption {
            font-size: 9px;
            color: $color-text-gray2;
            letter-spacing: 2px;
        }
    } 
}