/*--- Interface styles -----------------------------------------------------------*/
.card-box{
    width: 350px;
    // height: 377px;
    background-color: #fff;
    border-radius: 15px;
    background-image: url(../images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: 377px;
    }
    
}
.card-body {
    .profile-image {
        margin-bottom: 18px;
        height: 96px;

        img {
            border: 5px solid #fff;
            border-radius: 50%;
        }
     }
     .name {
         font-size: 18px;
         margin-bottom: 17px;
     }
     .location {
        margin-bottom: 27px;
     }
    .card-stats {
        border-top: 1px solid #E7E7E7;
        text-align: center;
        height: 89px;
        padding-top: 27px;
        // padding-bottom: 27px;
        align-self: stretch;
     }
}
.card-stats {
    .stats-content{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        
        .stats {
            font-size: 18px;
        }
        .stats-caption {
            font-size: 12px;
        }

    } 
}